/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    background-color: #050B18;
}

/* Container principal */
.container{
    width:  100%;
    max-width: 1447px;
    min-height: 1024px;
    margin: auto; 

    border-radius: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* cabeçalho */
    .cabecalho
    {
        background-color: #081129;
        max-height: 69px;
        width: 1447px;
        margin: auto;
        padding: 10px;
        gap: 5px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
    }

    .logo-grupo {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    }

    .logo-grupo img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    }

    .logo-grupo p
    {
    color: rgb(255, 255, 255);
    font-size: 24px;
    }

    .cabecalho button{
    font-size: 24px;
    margin-right: 100px;
    opacity: 1;

   background-color: #0A101F;
   border: none;
}

.inicioBtn, .dashboardBtn, .suporteBtn, .entrarBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-left: 10px; 
    background-color: none;
    cursor: pointer;

}

.serviçosBtn:hover, .inicioBtn:hover, .dashboardBtn:hover, .suporteBtn:hover, .entrarBtn:hover{
    color: #37bcd6;
    filter: brightness(0.9);
}

.dashboardBtn{
    color:#37bcd6;
    font-size: 24px;
    margin-left: 10px;
}

/*escrita prinipal*/

.escrita_topo{
    border: solid, red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 30px;
}
.escrita_topo h{
    color: #ffffff;
    font-size: 40px;
}

.escrita_topo p{
    color: #A0AEC0;
    font-size: 20px;    
}

/* dashboard*/
.container_dahsboard{
    width: 1395px;
    height: 401px;

    display: flex;
    

    gap: 20px;
    padding: 20px;
    margin: 20px;

    border: #00B4D8, solid;
}

.ss{
    flex-direction: column;
    grid-template-columns: auto;
   justify-content: start;
    
    gap: 10px;
    padding: 10px;
}

.container_informativo{
    height: 216px;
    width: 508px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    gap: 20px;

    margin: end;

    border: #22F449, solid;
}

.container_informativo h{
    font-size: 25px;
    color: #22F449;
}

.container_informativo p{
    font-size: 16px;
    color: #A0AEC0;
}

.cards_dash{
    display: grid;
    grid-template-columns: repeat 2, 1fr;
    align-items: center;
    


    min-Height: 74px;
    min-width: 274px;

    gap: 20px;
    padding: 20px;
}

.criticas, .altas, .medias, .baixas{
    border: solid, red;

    

 }

 .criticas h, .altas h, .medias h, .baixas h{
    font-size: 25px;
 }

 .criticas p, .altas p, .medias p, .baixas p{
    font-size: 18px;
 }

 /*cards*/

 .cards{
    min-width: 259px;
    min-height: 278px;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    
}

.card1, .card2, .card3, .card4{
    background-color: rgba(0, 180, 216, 0.1);   
    min-width: 259px;
    min-height: 278px;
    padding: 20px;
}
.cards h1{
    color: #ffffff;
    font-size: 22px;
    margin-left: 70px;  

    padding: 10px;
    
}

.cards p{
    color: #808080;
    font-size: 20px;    
    margin-left: 20px;
    
    padding: 30px;
}

.card1 img, .card2 img, .card3 img, .card4 img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;

    background: #152445;
}
