*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color: #050B18;
}

/* Container principal */
#container{
    width:  100%;
    max-width: 1447px;
    height: 1024px;
    margin: auto; 

    border: solid red;
    border-radius: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* cabeçalho */
.cabecalho
{
    background-color: #050B18;
    border: solid rgb(255, 255, 255); 

    max-height: 66px;
    width: 1447px;
    margin:auto;
    padding: 10px;

    display: flex;
    align-items: center;

    font-size: 24px;
}

.cabecalho p
{
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-left: 20px;
    
}



.cabecalho button{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    
    margin-right: 10px;
    gap: 10px;

}

#inicioBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#serviçosBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#portifolioBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#desingBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#sobreBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#dashboardBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#suporteBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#entrarBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}


/*escrita prindipal*/
.pc{
    width: 100%;
    max-width: 635px;
    height: 258px;
    margin: auto;

    border: solid red;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*botões tela*/

.botao_inicio{
    width: 100%;
    max-width: 201px;
    height: 54px;
    margin: auto;
    grid-row: 1;

}

#serviçoBtn{
    width: 100%;
    max-width: 201px;
    height: 54px;
    margin: auto;

    border: solid red;
    border-radius: 40px;
}

#portfolioBtn{
    width: 100%;
    max-width: 201px;
    height: 54px;
    margin: auto;

    border: solid red;
    border-radius: 40px;
}

/*escrita meio*/
.meio_escritas{
    width: 100%;
    max-width: 540px;
    height: 115px;
    margin: auto;

    border: solid red;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
}

.card{
    grid-column: 1;
    border: solid red;
    display: flex;    
}