*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color: #050B18;
}

/* Container principal */
#container{
    width:  100%;
    max-width: 1447px;
    height: 1024px;
    margin: auto; 

    border: solid red;
    border-radius: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* cabeçalho */
.cabecalho{
    background-color: #050B18;
    border: solid rgb(116, 2, 116); 

    width: 100%;
    margin:auto;
    max-width: 1447px;
    padding: 10px;

}


.botões_cabecalho{

  gap: 20px;

    
}

#inicioBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#serviçosBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#portifolioBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#desingBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#sobreBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#dashboardBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#suporteBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

#entrarBtn{
    color: rgb(255, 255, 255);
    font-size: 24px;
    border: 2px solid purple;
    margin-left: 20px;
}

