/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
    background-color: #050B18;
}

/* Container principal */
.container{
    width:  100%;
    max-width: 1447px;
    min-height: 1024px;
    margin: auto; 

    border-radius: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* cabeçalho */
    .cabecalho
    {
        background-color: #081129;
        max-height: 69px;
        width: 1447px;
        margin: auto;
        padding: 10px;
        gap: 5px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
    }

/* NOVO ELEMENTO ADICIONADO PARA O LOGO-GRUPO */
.logo-grupo {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
}

.logo-grupo img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.logo-grupo p
{
    color: rgb(255, 255, 255);
    font-size: 24px;
}

.cabecalho button{
    font-size: 24px;
    margin-right: 100px;
    opacity: 1;

   background-color: #0A101F;
   border: none;
}

#serviçosBtn, #dashboardBtn, #suporteBtn, #entrarBtn {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin-left: 10px; 
    background-color: none;

}

#inicioBtn{
    color:#37bcd6;
    font-size: 24px;
    margin-left: 10px;
}

/*escrita prin  ipal*/
.pc{
    min-width: 635px;
    min-height: 258px;
    margin: auto;
    gap: 30px;
    
    border-radius: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pc h1{
    color: #37bcd6;
    font-size: 40px;

    text-align: center;
}

.pc p{
    color: #A0AEC0;
    font-size: 20px;    

    text-align: center;
}

/*botões tela*/
.botao_inicio{
    margin: auto;
    gap: 23px;
    
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

#serviçoBtn{
    min-width: 201px;
    min-height: 54px;
    margin: auto;
    
    background-color: #00B4D8;
    border-radius: 40px;
    border: none;
}

#portfolioBtn{
    min-width: 201px;
    min-height: 54px;
    margin: auto;
    
    background-color: #2C2C2C;
    border-radius: 40px;
    border: none;
}

/*escrita meio*/
.meio_escritas{
    width: 100%;
    max-width: 540px;
    height: 115px;
    margin: auto;
    
    border-radius: 40px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    gap:20px;
}

.meio_escritas h1{
    color: #ffffff;
    font-size: 40px;
}

.meio_escritas p{
    color: #A0AEC0;
    font-size: 20px;    
    text-align: center;
}

/*cards*/
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.cards h1{
    color: #ffffff;
    font-size: 22px;
    margin-left: 70px;  

    padding: 10px;
    
}

.cards p{
    color: #808080;
    font-size: 20px;    
    margin-left: 20px;
    
    padding: 30px;
}

#card_st, #card_di, #card_cl, #card_pm {
    min-width: 259px;
    min-height: 278px;

    background-color: rgba(0, 180, 216, 0.1); 
}

#card_st img, #card_di img, #card_cl img, #card_pm img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;

    background: #152445;
}



/*Segunda Pagina*/

/*Titulo*/
.tp{
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 27px;
    padding: 20px;
    
}




/*fundos*/


.container_projetos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column; 

    gap: 20px;
    margin:auto;
}

.titulo_status {
    display: grid;
    grid-template-columns: auto auto;
   justify-content: start;
    
    gap: 10px;
    padding: 10px;
}

.titulo_status h {
    font-size: 24px;

}

.fundo_ts, .fundo_ec{

    min-width: 755px;
    min-height: 281px;

    background-color: rgba(4, 79, 177, 0.1); 
}

.fundo_ec, .fundo_ts h{
    text-align: start;
    
    
}

.status-blindagem {
    text-align: center;
  
    gap: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.caixa1, .caixa2 {
    min-width: 250px;
    min-height: 134px;
    margin: 10px;
    
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    align-items: center;     /* Centraliza na vertical */
}

/* Removemos aquela regra antiga que tentava alinhar as imagens */
.caixa1 img, .caixa2 img {
    margin: 0; 
}

.caixa1 {
    background-color: rgb(210, 46, 46);
}

.caixa2 {
    background-color: #4abe5f;
}

.depois, .antes p{
text-align: start;


}

.antes {
    color: #E52B2B;
    font-size: 18px;

}

.depois {
    color: #22F449;
    font-size: 18px;
    
}


.conteudo-card {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Cria as duas colunas alinhadas com o topo */
    gap: 20px; /* Mantém o mesmo espaçamento do grid de cima */
    padding: 10px 20px; /* Dá um distanciamento confortável das bordas */
}


.escritas_vr {
    color: #E52B2B;
    text-align: left;
}

.escritas_vd {
    color: #22F449;
    text-align: right;
}

/*cards*/

.lgpd, .gdpr, .pci-dss, .pci-dss, .iso{
    min-width: 259px;
    min-height: 278px;

    background-color: rgba(0, 180, 216, 0.1); 

} 

.lgpd img, .gdpr img, .pci-dss img, .pci-dss img, .iso img{
   width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;

    background: #152445;
}

/*Terceira Página*/

/*Titulo*/
.tp_2{
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 27px;
    padding: 20px;

    margin: auto;

    border: red, solid;
}

.tp_2 h{
    color: #ffffff;
    font-size: 24px;
}

.tp_2 img{
    width: 45px;
    height: 47px;
    align-self: center;
 }

 .tp_2 p{
    color: #A0AEC0;
    font-size: 20px;    
    text-align: center;
 }

 /* Calculador ROI */

.container_roi{
    display: grid;
    grid-template: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin: 20px;

    border: #00B4D8, solid;
}

.container_roi h{
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
}

.container_calculo{
    min-width: 788px;
    min-height: 42px;
    

    background-color: rgba(4, 79, 177, 0.1);
    
    border-radius: 17px;
    border: #00B4D8, solid;
}

.calcular {
    background-color: #00B4D8;
    font-size: 20px;
    padding: 10px;

    text-align: center;

    margin: auto;

    border-radius: 17px;
    min-width: 642px;
    min-height: 57px;
}

/* Cards */

.cards_3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;

    min-width: 259px;
    min-height: 278px;

}

.cards_3 h1{
    color: #ffffff;
    font-size: 22px;

    text-align: center;

    padding: 10px;
}

.cards_3 p{
    color: #808080;
    font-size: 20px;    
    margin-left: 20px;
    
    text-align: center;
    padding: 30px;

}

.cards_3 img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;

    background: #152445;
}

/*Roda Pé*/

.roda_pé{
    min-width: 1437px;
    min-height: 296px;
 
    font: "inter";

    display: flex;
    text-align: center;
    align-items: center;

    

    padding: 40px;
    margin: auto;

    background-color: #05283B;
}


.roda_pé h{
    color: #ffffff;
    font-size: 22px;
}

.roda_pé p{
    color: #A0AEC0;
    font-size: 20px;    
}

.container_link{
    display: flex;
    flex-direction: column;

    text-align: right;
    padding: 10px;

    margin: auto;
 }

 .contato{
    display: flex;
    flex-direction: column;

    text-align: right;
    padding: 10px;

    margin: auto;
 }